// Colors
$grey: #99A8B2;
$blue-base: #1F6F8B;
$dark-base: #1C2B2D;

//Padding & margin
$traditional-block-padding: 4vh 3vw;
$traditional-height-padding: 4vh;

//Classical content
$width-content: 80%;
$margin-content: 0 auto;
